body {
    max-width: 600px;
    margin: auto;
}

.input_value {
    text-align: center;
}

h2 {
    text-align: center;
}

.run{
    display: flex;
	justify-content: center;
}

.runSz{
    display: flex;
    justify-content: center;
}

/*#Vs{
    text-align: center;
}*/

#Sz{
    text-align: center;
}